* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI Light';
    background-color: #e2e2e2;
}

.logo {
    overflow: hidden;
    text-align: left;
    margin: .75em;
    font-family: 'Segoe UI Semibold';
    font-size: 1.5em;
}

.logo a {
    float: left;
    display: block;
    color: black;
    text-decoration: none;
}


input[type='checkbox'] {
    margin: .75em;
}

.editBar{
    text-align: center;
    font-family: 'Segoe UI Light';
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
}

@media screen and (max-width: 750px) {
    .hideOnSmall {
        display: none;
    }
    .button {
        padding: .1em;
    }
    .navicons {
        font-size: .8em;
    }
}

nav {
    width: 100%;
    color: white;
}

nav ul {
    font-size: 1.2em;
    list-style-type: none;
    overflow: hidden;
    background-color: black;
}

nav ul li {
    float: left;
    list-style: none;
}

nav ul li a {
    color: white;
    display: flex;
    align-items: center;
    padding: .5em;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #464646;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.NavBarSpacer {
    margin-top: 5em; /* VALUE IS DEPENDANT ON THE NAVBAR SIZE */
}

th a {
    color: white;
    align-items: center;
    text-decoration: none;
}

th a:hover {
    background-color: #464646;
}

td {
    max-width: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tr td div {
    overflow: hidden;
    color: rgb(0, 0, 0);
    text-overflow: ellipsis;
}

.navicons {
    margin-right: .45em;
    width: 1.25em;
    height: 1.25em;
}

#customers {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: rgb(180, 190, 215);
}

#customers th {
    padding: .5em 0;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    font-weight: normal;
}

.LargeSubmitButton {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: larger;
    background: black;
    color: white;
    padding: .5em;
    border: none;
}

.inputbox {
    background: #e2e2e2;
    font-size: .9em;
    padding: .2em;
    border: .1em solid rgb(183, 183, 183);
    margin: .25em 0;
}

.inputbox::placeholder {
    font-family: 'Segoe UI Light', Helvetica, sans-serif;
    font-style: italic;
    vertical-align: middle;
}

.button {
    color: black;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: .75em 0;
}

.button:hover {
    color: rgb(87, 85, 85);
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    /* background with opacity  */
    visibility: hidden;
    opacity: 0;
    z-index: 100;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    top: 25%;
    margin: 0 auto;
    padding: 1em;
    background: rgb(235, 235, 235);
    width: 50%;
    height: 15em;
    position: relative;
}

.close {
    position: absolute;
    top: .5em;
    right: .75em;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.popup .close:hover {
    color: rgb(0, 0, 0);
}

.popup .content {
    max-height: 50%;
    overflow: auto;
}

.NewButton {
    font-size: .8em;
    background: black;
    color: white;
    padding: .5em;
    border: none;
    margin: 0 .25em;
    text-decoration: none;
}

.tablecontrols{
    margin: 1em;
}